@font-face {
  font-family: 'ff6';
  src:  url('https://tacticaltofu.github.io/assets/fonts/ff6font.woff2') format('woff2'),
        url('https://tacticaltofu.github.io/assets/fonts/ff6font.woff') format('woff'),
        url('https://tacticaltofu.github.io/assets/fonts/ff6font.ttf') format('truetype');
}

body {
	margin: 0;
	background-color: black;
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

#game {
	height: 100vmin;
    width: 100vmin;
	background-color: #FFF;
}